{% extends 'base.html.twig' %}

{% block title %}Hello FirstController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <a href="{{path('second')}}">Link second</a>
    <img src="{{asset('./img/smiley.gif')}}" alt="Smiley face" height="42" width="42">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'F:/00.ProjectWeb/s4-setting/08_Basic_Templates/src/Controller/FirstController.php'|file_link(0) }}">src/Controller/FirstController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'F:/00.ProjectWeb/s4-setting/08_Basic_Templates/templates/first/index.html.twig'|file_link(0) }}">templates/first/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
